# Reyansh Tech Backend - Environment Configuration
DATABASE_URL=postgresql+asyncpg://vm_user:CHANGE_ME@localhost:5432/vm_platform
REDIS_URL=redis://localhost:6379
JWT_SECRET_KEY=1937d089c7a575433a79065562b66e702f407dfe60190ddfee14f8a191a50288

EMQX_API_URL=http://localhost:18083
EMQX_API_KEY=bp7LiFnH3gfLEm6w
EMQX_API_SECRET=VobiOMmofnM0yTdDe5VeutygQlMGDrUmvtmYcOAuQIJ
EMQX_DEVICE_SECRET_SALT=6c500db7d989092727ba390dfe88375d17ec58147e182ecf96a5c1054483cf1e

MQTT_BROKER=localhost
MQTT_PORT=1883

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMe123!

LOG_LEVEL=INFO
CORS_ORIGINS=*
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
BCRYPT_ROUNDS=12
